<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns="http://www.springframework.org/schema/beans"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 扫描类包，将标注Spring注解的类自动转化Bean，同时完成Bean的注入 -->
    <context:component-scan base-package="dao"/>
    <context:component-scan base-package="service"/>
    <context:property-placeholder location="classpath:spring-config.properties"/>

    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close"
          p:driverClassName="${dataSource.driverClassName}"
          p:url="${dataSource.url}"
          p:username="${dataSource.username}"
          p:password="${dataSource.password}"/>

    <!-- 配置Jdbc模板  -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
          p:dataSource-ref="dataSource" />

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource" />

    <!-- 通过AOP配置提供事务增强，让service包下所有Bean的所有方法拥有事务 -->
    <aop:config proxy-target-class="true">
        <aop:pointcut id="serviceMethod"
                      expression=" execution(* service.*.*(..))" />
        <aop:advisor pointcut-ref="serviceMethod" advice-ref="txAdvice" />
    </aop:config>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>

    <!-- redis连接池的配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"
          p:maxTotal="${redis.maxTotal}"
          p:maxIdle="${redis.maxIdle}"
          p:minIdle="${redis.minIdle}"
          p:maxWaitMillis="${redis.maxWaitMillis}"/>

    <!-- redis的连接池 -->
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool"
          c:poolConfig-ref="jedisPoolConfig"
          c:host="${redis.host}"
          c:port="${redis.port}"/>

    <!-- httpClient连接管理器 -->
    <bean id="httpClientConnectionManager" class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager"
          destroy-method="close">
        <!-- 设置最大连接数 -->
        <property name="maxTotal" value="${httpClient.maxTotal}"/>
        <!-- 设置每个主机地址的并发数 -->
        <property name="defaultMaxPerRoute" value="${httpClient.defaultMaxPerRoute}"/>
    </bean>
    <!-- httpClient对象构建器 -->
    <bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder">
        <!-- 设置连接管理器 -->
        <property name="connectionManager" ref="httpClientConnectionManager"/>
    </bean>
    <!-- Httpclient对象 -->
    <bean id="httpClient" class="org.apache.http.impl.client.CloseableHttpClient"
          factory-bean="httpClientBuilder" factory-method="build" scope="prototype">
    </bean>

    <!--请求配置构建器-->
    <bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig.Builder">
        <!-- 设置创建连接的最长时间 -->
        <property name="connectTimeout" value="${httpClient.connectTimeout}"/>
        <!-- 设置从连接池中获取到连接的最长时间 -->
        <property name="connectionRequestTimeout" value="${httpClient.connectionRequestTimeout}"/>
        <!-- 设置数据传输的最长时间 -->
        <property name="socketTimeout" value="${httpClient.socketTimeout}"/>
        <!-- 设置提交请求前测试连接是否可用 -->
        <property name="staleConnectionCheckEnabled" value="${httpClient.staleConnectionCheckEnabled}"/>
    </bean>
    <!-- 请求配置 -->
    <bean id="requestConfig" class="org.apache.http.client.config.RequestConfig" factory-bean="requestConfigBuilder"
          factory-method="build">
    </bean>

    <!-- 清理无效连接类 -->
    <bean class="util.IdleConnectionEvictor"
          destroy-method="shutdown">
        <constructor-arg index="0" ref="httpClientConnectionManager"/>
    </bean>
</beans>